API_KEY=
TARGET_DATABASE_NAME=
TARGET_SERVER_NAME=
TARGET_DB_USERNAME=
TARGET_DB_PASSWORD=
TARGET_PORT=5432

LOGGING_DATABASE_NAME=
LOGGING_SERVER_NAME=
LOGGING_USERNAME=
LOGGING_PASSWORD=
LOGGING_PORT=5432